.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img {
  height: 30vh;
  padding: 10px 10px 10px 10px;
}

.App-header {
  background-color: #F3F0FE;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:black;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 10vh;
}

.App-link {
  color: #61dafb;
}

.row { /* make it so that the stuff inside this div is in a row */
  display: flex;
  flex-direction: row;
}

#blurb {
  padding-left: 8vw;
  font-size: medium;
}

.App-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color:black;
}